/* Seccion Clientes
  --------------------------------*/
  #clients {
    padding: 30px 0;
    background: white;
    overflow: hidden;
  }
  #clients .section-title {
    font-size: 32px;
    color: #1dc8cd;
    text-align: center;
    font-weight: bold;
  }
  
  #clients img {
    max-width: 100%;
    opacity: 0.5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 15px 0;
    border-radius: 50%;
  }
  
  #clients img:hover {
    opacity: 1;
  }