/* Frase de Ford
  --------------------------------*/
  #call-to-action {
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 200, 205, 0.65)), to(rgba(29, 205, 89, 0.2))), url(../../img/fondo/call-to-action-bg.jpg) fixed center center;
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../../img/fondo/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  #call-to-action .cta-title {
    color: white;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: white;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid white;
    color: white;
  }
  
  #call-to-action .cta-btn:hover {
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
  }